<table class="w-full">
  <tr>
    <td class="pt-[20px] px-[20px] xs:px-[0px]">
      <x-image class="w-[600px]" imgUrl="image-1.png" href="#" />
    </td>
  </tr>
  <tr>
    <td
      class="align-center-table text-2xl text-eagleGreen font-bold leading-[27px] pt-[30px] px-[20px]"
    >
      Excepteur sint occaecat cupidatat
    </td>
  </tr>
  <tr>
    <td
      class="text-base text-spaceGrey align-center-table leading-[18px] pt-[20px] px-[50px] xs:px-[20px]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </td>
  </tr>
  <tr>
    <td class="align-center-table px-base pt-[24px] px-[20px]">
      <a
        href="#"
        class="text-white leading-[23px] font-bold text-[20px] bg-[#008080] rounded-xl px-[54px] xs:px-[44px] py-[12px] inline-block"
        target="_blank"
        >Ut enim ad minim veniam</a
      >
    </td>
  </tr>
</table>
