<table class="w-full">
  <tr>
    <td class="text-black font-bold text-[12px] leading-[13px]">
      Ut enim ad minim:
      <p class="text-[12px]">&nbsp;</p>
      <p class="font-normal">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p class="text-[12px]">&nbsp;</p>
      <p class="font-normal">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </p>
    </td>
  </tr>
  <tr>
    <td
      class="text-black font-bold text-[12px] leading-[13px] pt-[30px] pb-[21px]"
    >
      Sint occaecat cupidatat:
      <ol class="pl-[18px] my-[0px] font-normal pt-[16px]">
        <li>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.
        </li>
        <li>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat
        </li>
      </ol>
    </td>
  </tr>
  <tr>
    <td
      style="border-top: 1px solid #002b2b"
      class="align-center-table text-black text-[12px] leading-[13px] pt-[21px]"
    >
      Sed do eiusmod tempor incididunt ut labore
    </td>
  </tr>
  <tr>
    <td class="align-center-table pt-[21px]">
      <x-image class="w-[100px]" imgUrl="image-2.png" />
    </td>
  </tr>
</table>
