<table class="w-full">
  <tr>
    <td class="px-[20px] py-[35px] bg-[#F0F5F5]">
      <table class="w-full">
        <tr>
          <td
            class="align-center-table text-2xl text-eagleGreen font-bold leading-[27px]"
          >
            Sint cupidatat occaecat ut
          </td>
        </tr>
        <tr>
          <td class="pt-[35px]">
            <table class="w-full">
              <tr>
                <td
                  class="align-center-table w-[270px] xs:w-full xs:inline-block pr-[10px] xs:pr-[0px]"
                >
                  <table class="w-full">
                    <tr>
                      <td class="align-center-table bg-white p-[25px]">
                        <table class="w-full">
                          <tr>
                            <td class="align-center-table">
                              <x-image
                                class="w-[100px] h-[100px] rounded-full"
                                imgUrl="image-3.png"
                                href="#"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="align-center-table text-xl text-eagleGreen font-bold leading-[23px] pt-[15px]"
                            >
                              Nisi ut ade
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="text-base text-spaceGrey align-center-table leading-[18px] pt-[15px]"
                            >
                              Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit, sed do eiusmod tempor incididunt ut labore
                              et dolore magna aliqua. Ut enim ad minim
                              veniam.<span
                                class="text-[10px] [line-height:0] [vertical-align:6px]"
                                >1</span
                              >
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
                <td
                  class="align-center-table w-[270px] xs:w-full xs:inline-block pl-[10px] xs:pl-[0px] xs:pt-[35px]"
                >
                  <table class="w-full">
                    <tr>
                      <td class="align-center-table bg-white p-[25px]">
                        <table class="w-full">
                          <tr>
                            <td class="align-center-table">
                              <x-image
                                class="w-[100px] h-[100px] rounded-full"
                                imgUrl="image-3.png"
                                href="#"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="align-center-table text-xl text-eagleGreen font-bold leading-[23px] pt-[15px]"
                            >
                              Duis aute irure
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="text-base text-spaceGrey align-center-table leading-[18px] pt-[15px]"
                            >
                              Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit, sed do eiusmod tempor incididunt ut labore
                              et dolore magna aliqua. Ut enim ad minim
                              veniam.<span
                                class="text-[10px] [line-height:0] [vertical-align:6px]"
                                >2</span
                              >
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
